.idea/aws.xml
*.pem
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~
*.tfvars
.terraform/
*.tfstate
*.tfstate.backupm
.env
*.exe
*terraform.lock.hcl
*terraform.tfstate.backup